# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
webapp.egg-info/
.env

# Dependency directories
venv/
env/
env/
lib/
include/
python*/

# Logs
*.log

# Temporary files
*.swp
*~
*.tmp

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Compiled files
dist/
build/
*.exe
*.pyc
*.pyo
*.so
*.dll
*.dylib


# Miscellaneous
.DS_Store

# Folders to ignore
pdfFiles/
